.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;  
}

.card {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.9);        
}   