.home-container {
    display: grid;
    text-align: center;
    margin-top: 10px;
    justify-items: center;
}

img {
    width: 800px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}